<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/home3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Trirong"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Sofia"
    />
    <script
      src="https://kit.fontawesome.com/dad8a5aed6.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Issam Shop</title>
  </head>
  <body>
    <!-- _______________ pre loader ________________ -->

    <!-- _____________nav bar____________________ -->
    <nav>
      <input id="baresicon" type="checkbox" />
      <label class="nav_bares" for="baresicon"
        ><i class="fa-solid fa-bars"></i
      ></label>
      <div class="logo">
        <img src="../picture/shirt.png" alt="" />
      </div>
      <div class="serche">
        <input type="text" />
        <button>
          <i id="srch_icon" class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

      <ul id="nav_ul">
        <li><a style="color: rgb(180, 21, 21)">Home</a></li>
        <!-- <li><a href="">Categories</a></li> -->
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Categories</a>
          <div class="dropdown-content">
            <a href="../html/men.html">Men</a>
            <a href="../html/women.html">Women</a>
          </div>
        </li>
        <li><a href="../html/contact.html">Contact Us</a></li>
        <li><a href="../html/login.html">Login</a></li>
        <li><a href="../html/signup.html">Sign up</a></li>
        <li>
          <a href="../html/account.html"
            ><i class="fa-solid fa-file-invoice"></i
          ></a>
        </li>
      </ul>
    </nav>

    <!-- ________________models_________________ -->
    <div class="model">
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/gloves/small/gloves_PNG8329.png"
          alt=""
        />
        <p>Gloves</p>
        <p>6£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/hoodie/small/hoodie_PNG30.png"
          alt=""
        />
        <p>Hoodie</p>
        <p>50£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/kimono/small/kimono_PNG50.png"
          alt=""
        />
        <p>Kimono</p>
        <p>70£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/jacket/small/jacket_PNG8045.png"
          alt=""
        />
        <p>Jacket</p>
        <p>90£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/fur_coat/small/fur_coat_PNG13.png"
          alt=""
        />
        <p>Fur coat</p>
        <p>100£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/converse/small/converse_PNG63.png"
          alt=""
        />
        <p>Converse</p>
        <p>80£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/belt/small/belt_PNG9573.png"
          alt=""
        />
        <p>Belt</p>
        <p>10£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/sandals/small/sandals_PNG9690.png"
          alt=""
        />
        <p>Sandals</p>
        <p>18£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <div class="clothing_models">
        <img src="../picture/1-red-tie-png-image.png" alt="" />
        <p>Red Tie</p>
        <p>10£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/apron/small/apron_PNG36.png"
          alt=""
        />
        <p>Apron</p>
        <p>5£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- __________________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/dress/small/dress_PNG188.png"
          alt=""
        />
        <p>Dress</p>
        <p>50£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/gloves/small/gloves_PNG8329.png"
          alt=""
        />
        <p>Gloves</p>
        <p>6£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/hoodie/small/hoodie_PNG30.png"
          alt=""
        />
        <p>Hoodie</p>
        <p>50£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/kimono/small/kimono_PNG50.png"
          alt=""
        />
        <p>Kimono</p>
        <p>70£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/jacket/small/jacket_PNG8045.png"
          alt=""
        />
        <p>Jacket</p>
        <p>90£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/fur_coat/small/fur_coat_PNG13.png"
          alt=""
        />
        <p>Fur coat</p>
        <p>100£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/converse/small/converse_PNG63.png"
          alt=""
        />
        <p>Converse</p>
        <p>80£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/belt/small/belt_PNG9573.png"
          alt=""
        />
        <p>Belt</p>
        <p>10£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/sandals/small/sandals_PNG9690.png"
          alt=""
        />
        <p>Sandals</p>
        <p>18£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/flip_flops/small/flip_flops_PNG65.png"
          alt=""
        />
        <p>Flip-flops</p>
        <p>20£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/scarf/small/scarf_PNG48.png"
          alt=""
        />
        <p>Scarf</p>
        <p>9£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/sweater/small/sweater_PNG53.png"
          alt=""
        />
        <p>Sweater</p>
        <p>15£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/vans/small/vans_PNG48.png"
          alt=""
        />
        <p>Vans</p>
        <p>25£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/women_bag/small/women_bag_PNG6428.png"
          alt=""
        />
        <p>Women bag</p>
        <p>60£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>

      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/men_shoes/small/men_shoes_PNG7492.png"
          alt=""
        />
        <p>Men shoes</p>
        <p>30£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/cap/small/cap_PNG5683.png"
          alt=""
        />
        <p>Baseball cap</p>
        <p>17£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/fur_coat/small/fur_coat_PNG13.png"
          alt=""
        />
        <p>Fur coat</p>
        <p>100£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/raincoat/small/raincoat_PNG63.png"
          alt=""
        />
        <p>Raincoat</p>
        <p>75£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/louboutin/small/louboutin_PNG10831.png"
          alt=""
        />
        <p>Louboutin</p>
        <p>35£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img src="https://pngimg.com/uploads/ugg/small/ugg_PNG51.png" alt="" />
        <p>UGG</p>
        <p>25£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/crocs/small/crocs_PNG31.png"
          alt=""
        />
        <p>Crocs</p>
        <p>12£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/gloves/small/gloves_PNG8329.png"
          alt=""
        />
        <p>Gloves</p>
        <p>6£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/hoodie/small/hoodie_PNG30.png"
          alt=""
        />
        <p>Hoodie</p>
        <p>50£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/kimono/small/kimono_PNG50.png"
          alt=""
        />
        <p>Kimono</p>
        <p>70£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/jacket/small/jacket_PNG8045.png"
          alt=""
        />
        <p>Jacket</p>
        <p>90£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/fur_coat/small/fur_coat_PNG13.png"
          alt=""
        />
        <p>Fur coat</p>
        <p>100£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/converse/small/converse_PNG63.png"
          alt=""
        />
        <p>Converse</p>
        <p>80£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/belt/small/belt_PNG9573.png"
          alt=""
        />
        <p>Belt</p>
        <p>10£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/sandals/small/sandals_PNG9690.png"
          alt=""
        />
        <p>Sandals</p>
        <p>18£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/louboutin/small/louboutin_PNG10831.png"
          alt=""
        />
        <p>Louboutin</p>
        <p>35£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img src="https://pngimg.com/uploads/ugg/small/ugg_PNG51.png" alt="" />
        <p>UGG</p>
        <p>25£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/crocs/small/crocs_PNG31.png"
          alt=""
        />
        <p>Crocs</p>
        <p>12£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/gloves/small/gloves_PNG8329.png"
          alt=""
        />
        <p>Gloves</p>
        <p>6£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/hoodie/small/hoodie_PNG30.png"
          alt=""
        />
        <p>Hoodie</p>
        <p>50£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/kimono/small/kimono_PNG50.png"
          alt=""
        />
        <p>Kimono</p>
        <p>70£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/jacket/small/jacket_PNG8045.png"
          alt=""
        />
        <p>Jacket</p>
        <p>90£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
      <!-- _______________ -->
      <div class="clothing_models">
        <img
          src="https://pngimg.com/uploads/fur_coat/small/fur_coat_PNG13.png"
          alt=""
        />
        <p>Fur coat</p>
        <p>100£</p>
        <div>
          <div id="stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </div>
          <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
      </div>
    </div>

    <!-- _______________links of home pages_______________ -->
    <div class="links_home_pages">
      <a href="../html/home2.html"><i class="fa-solid fa-angles-left"></i></a>
      <a href="../html/home.html">1</a>
      <a href="../html/home2.html">2</a>
      <a style="background-color: rgb(230, 101, 82)">3</a>
    </div>
    <!-- _________________footer_________________ -->
    <footer>
      <div class="info_container">
        <div class="store_infos">
          <a href="../html/contact.html" id="contact_form_link"
            >Contact Us Form</a
          >
          <div id="email">
            <i class="fa-solid fa-at"></i> issamshop@gmail.com
          </div>
          <div id="phone_number">
            <i class="fa-solid fa-phone"></i> 0600000000
          </div>
          <div id="location">
            <i class="fa-solid fa-location-dot"></i>Ait Ourir Marrakech
          </div>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3399.6074531348004!2d-7.705975000000043!3d31.56238599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda5574edbf65887%3A0xda8bc14ccbe734a6!2sLaafar!5e0!3m2!1sfr!2sma!4v1660834714406!5m2!1sfr!2sma"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="social_media_links">
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a
        ><a href=""><i class="fa-brands fa-twitter"></i></a>
      </div>
      <hr />
      <div class="bank_card">
        <p>We Accept</p>
        <div>
          <img
            src="https://pngimg.com/uploads/mastercard/mastercard_PNG26.png"
            alt=""
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/5968/5968299.png"
            alt=""
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/888/888870.png"
            alt=""
          />
        </div>
      </div>
      <div class="copy_right">© 2022 Issam Shop</div>
    </footer>
  </body>
</html>
