<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Trirong"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Sofia"
    />
    <script
      src="https://kit.fontawesome.com/dad8a5aed6.js"
      crossorigin="anonymous"
    ></script>
    <script>
      function isam() {
        if (
          document.getElementById("username").value == "issam77" &&
          document.getElementById("password").value == "issam1234"
        ) {
          window.location.href = "home.html";
        }
      }
    </script>
    <title>login</title>
  </head>
  <body>
    <!-- _____________nav bar____________________ -->
    <nav>
      <input id="baresicon" type="checkbox" />
      <label class="nav_bares" for="baresicon"
        ><i class="fa-solid fa-bars"></i
      ></label>
      <div class="logo">
        <img src="../picture/shirt.png" alt="" />
      </div>
      <div class="serche">
        <input type="text" />
        <button>
          <i id="srch_icon" class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

      <ul id="nav_ul">
        <!-- <li>
          <a href="../html/home.html">Home</a>
        </li> -->
        <!-- <li><a href="">Categories</a></li> -->
        <!-- <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Categories</a>
          <div class="dropdown-content">
            <a href="../html/men.html">Men</a>
            <a href="../html/women.html">Women</a>
          </div>
        </li> -->
        <li><a href="../html/contact.html">Contact Us</a></li>
        <li><a style="color: rgb(180, 21, 21)">Login</a></li>
        <li><a href="../html/signup.html">Sign up</a></li>
        <!-- <li>
          <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
        </li> -->
      </ul>
    </nav>
    <div class="login_form">
      <div>login</div>
      <form action="">
        <label for="username"
          >username
          <input type="text" name="username" id="username" />
        </label>
        <label for="password"
          >password
          <input type="password" id="password" name="password" />
        </label>
        <input onclick="isam()" type="button" value="Login" id="login" />
        <p><a href="">Did you forget your password ?</a></p>
      </form>
    </div>

    <!-- _________________footer_________________ -->
    <footer>
      <div class="info_container">
        <div class="store_infos">
          <a href="../html/contact.html" id="contact_form_link"
            >Contact Us Form</a
          >
          <div id="email">
            <i class="fa-solid fa-at"></i> issamshop@gmail.com
          </div>
          <div id="phone_number">
            <i class="fa-solid fa-phone"></i> 0600000000
          </div>
          <div id="location">
            <i class="fa-solid fa-location-dot"></i>Ait Ourir Marrakech
          </div>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3399.6074531348004!2d-7.705975000000043!3d31.56238599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda5574edbf65887%3A0xda8bc14ccbe734a6!2sLaafar!5e0!3m2!1sfr!2sma!4v1660834714406!5m2!1sfr!2sma"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="social_media_links">
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a
        ><a href=""><i class="fa-brands fa-twitter"></i></a>
      </div>
      <hr />
      <div class="bank_card">
        <p>We Accept</p>
        <div>
          <img
            src="https://pngimg.com/uploads/mastercard/mastercard_PNG26.png"
            alt=""
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/5968/5968299.png"
            alt=""
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/888/888870.png"
            alt=""
          />
        </div>
      </div>
      <div class="copy_right">© 2022 Issam Shop</div>
    </footer>
  </body>
</html>
